{% extends 'baseadmin.html' %}
{% block content %}
{% load static %}


<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <h3>CONTRACTOR  LIST</h3>
      </div>
    </div>
</div>

{% for d in data %}
<div class="section best-deal">
  <div class="container">
    <h2>CONTRACTOR VERIFICATIONS</h3><br>
    <div class="tab-content" id="myTabContent">
      <div class="row">
        <div class="col-lg-4">
          <div class="info-table">
            
            <ul>
              {% comment %} <li>Total Flat Space <span>540 m2</span></li>
              <li>Floor number <span>3</span></li>
              <li>Number of rooms <span>8</span></li>
              <li>Parking Available <span>Yes</span></li>
              <li>Payment Process <span>Bank</span></li> {% endcomment %}
              
              <a href=""><img src="../static{{d.4}}" class="img-fluid" alt=""></a>
              <h3><a href="">{{d.0|upper}}</a></h3><br>
                        <li>Address<span>{{d.1}}</span></li>
                        <li>Contact<span>{{d.2}}</span></li>
                        <li>Email<span>{{d.3}}</span></li>
                        <br>
                        <div>
                            <a href="/adminapproveuser?id={{d.3}}&status=-1&url=/admincontractors"  class="btn btn-style btn-danger mx-2">Reject</a>
                            
                            <a href="/adminapproveuser?id={{d.3}}&status=1&url=/admincontractors" class="btn btn-style btn-primary">Appove</a>
                        </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% for d in data1 %}
<div class="section best-deal">
  <div class="container">
    <h2>APPROVED CONTRACTORS</h3><br>
    <div class="tab-content" id="myTabContent">
      <div class="row">
        <div class="col-lg-4">
          <div class="info-table">
            
            <ul>
              {% comment %} <li>Total Flat Space <span>540 m2</span></li>
              <li>Floor number <span>3</span></li>
              <li>Number of rooms <span>8</span></li>
              <li>Parking Available <span>Yes</span></li>
              <li>Payment Process <span>Bank</span></li> {% endcomment %}
              
              <a href=""><img src="../static{{d.4}}" class="img-fluid" alt="Profile photo"></a>
              <h3><a href="">{{d.0|upper}}</a></h3><br>
                        <li>Address<span>{{d.1}}</span></li>
                        <li>Contact<span>{{d.2}}</span></li>
                        <li>Email<span>{{d.3}}</span></li>
                        <br>
                        <div>
                          <a href="/adminapproveuser?id={{d.3}}&status=-1&url=/admincontractors"  class="btn btn-danger mx-2">Delete</a>
                        </div>
            </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
          
{% endblock %}